* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto';
}
:root {
  --claro: #f9faff;
  --claro-secundario: #f9faffea;
  --escuro: #1b1919c2;
  --cor-hover: linear-gradient(to right, #15ecd0, #eb9ded, #15ecd0);
  --cor-menu: #1b1b1b;
}

/* scroll */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  border-radius: 35px;
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background-color: #15ecd0;
}

body p {
  color: var(--claro);
  margin: 0;
}

.texto-escuro {
  color: var(--escuro);
}

main {
  padding: 0 10%;
  background-color: var(--claro-secundario);
}

/* definições menu */

.menu {
  display: flex;

  background-color: var(--cor-menu);

  width: 100%;
  justify-content: space-around;
  align-items: end;
  padding: 10px;
}
#texto-menu:hover,
#texto-menu2:hover {
  color: #747978;
  opacity: 2;
  transform: 5s;
}
#texto-menu,
#texto-menu2 {
  /*   font-size: 3vmin;
 */
  cursor: pointer;
  display: flex;
  color: #15ecd0;
  font-size: 20px;
}

#imagem-menu {
  max-width: 20px;
}
/* conteudo main */
.titulo {
  text-align: center;
  word-break: break-all;
  margin: 1rem 0;
}
.titulo:hover {
  background: var(--cor-hover);
  text-align: center;
  transition: 0.7s;
  color: wheat;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  scale: 1.02;

  border-radius: 15px 8px 15px 8px;
}

#conteudo-principal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.cartao {
  border-radius: 5px 2px;

  word-break: break-all;
  padding: 1em;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.cartao:hover {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  scale: 1.02;
}

#item1 {
  background-color: #000000;
}
#item2 {
  background-color: #1c1c1c;
}
#item3 {
  background-color: #363636;
}
#item4 {
  background-color: #4f4f4f;
}
#item5 {
  background-color: #696969;
}
#item6 {
  background-color: #808080;
}
#item7 {
  background-color: #a9a9a9;
}
#item8 {
  background-color: #c0c0c0;
}
#item9 {
  background-color: #d3d3d3;
}
#item10 {
  background-color: #dcdcdc;
}
#item11 {
  background-color: #6a5acd;
}
#item12 {
  background-color: #836fff;
}
#item13 {
  background-color: #6959cd;
}
#item14 {
  background-color: #483d8b;
}
#item15 {
  background-color: #191970;
}
#item16 {
  background-color: #000080;
}
#item17 {
  background-color: #00008b;
}
#item18 {
  background-color: #0000cd;
}
#item19 {
  background-color: #0000ff;
}
#item20 {
  background-color: #6495ed;
}
#item21 {
  background-color: #4169e1;
}
#item22 {
  background-color: #1e90ff;
}
#item23 {
  background-color: #00bfff;
}
#item24 {
  background-color: #87cefa;
}
#item25 {
  background-color: #87ceeb;
}
#item26 {
  background-color: #add8e6;
}
#item27 {
  background-color: #4682b4;
}
#item28 {
  background-color: #b0c4de;
}
#item29 {
  background-color: #708090;
}
#item30 {
  background-color: #778899;
}
#item31 {
  background-color: #00ffff;
}
#item32 {
  background-color: #00ced1;
}
#item33 {
  background-color: #40e0d0;
}
#item34 {
  background-color: #48d1cc;
}
#item35 {
  background-color: #20b2aa;
}
#item36 {
  background-color: #008b8b;
}
#item37 {
  background-color: #008080;
}
#item38 {
  background-color: #7fffd4;
}
#item39 {
  background-color: #66cdaa;
}
#item40 {
  background-color: #5f9ea0;
}
#item41 {
  background-color: #2f4f4f;
}
#item42 {
  background-color: #00fa9a;
}
#item43 {
  background-color: #00ff7f;
}
#item44 {
  background-color: #98fb98;
}
#item45 {
  background-color: #90ee90;
}
#item46 {
  background-color: #8fbc8f;
}
#item47 {
  background-color: #3cb371;
}
#item48 {
  background-color: #2e8b57;
}
#item49 {
  background-color: #006400;
}
#item50 {
  background-color: #008000;
}
#item51 {
  background-color: #228b22;
}
#item52 {
  background-color: #32cd32;
}
#item53 {
  background-color: #00ff00;
}
#item54 {
  background-color: #7cfc00;
}
#item55 {
  background-color: #7fff00;
}
#item56 {
  background-color: #adff2f;
}
#item57 {
  background-color: #9acd32;
}
#item58 {
  background-color: #6b8e23;
}
#item59 {
  background-color: #556b2f;
}
#item60 {
  background-color: #808000;
}
#item61 {
  background-color: #bdb76b;
}
#item62 {
  background-color: #daa520;
}
#item63 {
  background-color: #b8860b;
}
#item64 {
  background-color: #8b4513;
}
#item65 {
  background-color: #a0522d;
}
#item66 {
  background-color: #bc8f8f;
}
#item67 {
  background-color: #cd853f;
}
#item68 {
  background-color: #d2691e;
}
#item69 {
  background-color: #f4a460;
}
#item70 {
  background-color: #ffdead;
}
#item71 {
  background-color: #f5deb3;
}
#item72 {
  background-color: #deb887;
}
#item73 {
  background-color: #d2b48c;
}
#item74 {
  background-color: #7b68ee;
}
#item75 {
  background-color: #9370db;
}
#item76 {
  background-color: #8a2be2;
}
#item77 {
  background-color: #4b0082;
}
#item78 {
  background-color: #9400d3;
}
#item79 {
  background-color: #9932cc;
}
#item80 {
  background-color: #ba55d3;
}
#item81 {
  background-color: #a020f0;
}
#item82 {
  background-color: #8b008b;
}
#item83 {
  background-color: #ff00ff;
}
#item84 {
  background-color: #ee82ee;
}
#item85 {
  background-color: #da70d6;
}
#item86 {
  background-color: #dda0dd;
}
#item87 {
  background-color: #c71585;
}
#item88 {
  background-color: #ff1493;
}
#item89 {
  background-color: #ff69b4;
}
#item90 {
  background-color: #db7093;
}
#item91 {
  background-color: #ffb6c1;
}
#item92 {
  background-color: #ffc0cb;
}
#item93 {
  background-color: #f08080;
}
#item94 {
  background-color: #cd5c5c;
}
#item95 {
  background-color: #dc143c;
}
#item96 {
  background-color: #800000;
}
#item97 {
  background-color: #8b0000;
}
#item98 {
  background-color: #b22222;
}
#item99 {
  background-color: #a52a2a;
}
#item100 {
  background-color: #fa8072;
}
#item101 {
  background-color: #e9967a;
}
#item102 {
  background-color: #ffa07a;
}
#item103 {
  background-color: #ff7f50;
}
#item104 {
  background-color: #ff6347;
}
#item105 {
  background-color: #ff0000;
}
#item106 {
  background-color: #ff4500;
}
#item107 {
  background-color: #ff8c00;
}
#item108 {
  background-color: #ffa500;
}
#item109 {
  background-color: #ffd700;
}
#item110 {
  background-color: #ffff00;
}
#item111 {
  background-color: #f0e68c;
}
#item112 {
  background-color: #f0f8ff;
}
#item113 {
  background-color: #f8f8ff;
}
#item114 {
  background-color: #fffafa;
}
#item115 {
  background-color: #fff5ee;
}
#item116 {
  background-color: #fffaf0;
}
#item117 {
  background-color: #f5f5f5;
}
#item118 {
  background-color: #f5f5dc;
}
#item119 {
  background-color: #fdf5e6;
}
#item120 {
  background-color: #fffff0;
}
#item121 {
  background-color: #faf0e6;
}
#item122 {
  background-color: #fff8dc;
}
#item123 {
  background-color: #faebd7;
}
#item124 {
  background-color: #ffebcd;
}
#item125 {
  background-color: #ffe4c4;
}
#item126 {
  background-color: #ffffe0;
}
#item127 {
  background-color: #fffacd;
}
#item128 {
  background-color: #fafad2;
}
#item129 {
  background-color: #ffefd5;
}
#item130 {
  background-color: #ffdab9;
}
#item131 {
  background-color: #ffe4b5;
}
#item132 {
  background-color: #eee8aa;
}
#item133 {
  background-color: #ffe4e1;
}
#item134 {
  background-color: #fff0f5;
}
#item135 {
  background-color: #e6e6fa;
}
#item136 {
  background-color: #d8bfd8;
}
#item137 {
  background-color: #f0ffff;
}
#item138 {
  background-color: #e0ffff;
}
#item139 {
  background-color: #b0e0e6;
}
#item140 {
  background-color: #e0ffff;
}
#item141 {
  background-color: #f0fff0;
}
#item142 {
  background-color: #f5fffa;
}
/* combinações de cores */
.combinacao-cores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}
.conteudo-imagem {
  perspective: 500px;
  position: relative;
  width: 200px;
  height: 200px;
}

.imagem-frente,
.imagem-atras {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 1s ease;
  object-fit: contain;
  border-radius: 15px 5px;
}

.imagem-frente {
  transform: rotateY(0deg);
}
.imagem-atras {
  transform: rotateY(180deg);
}

.conteudo-imagem:hover .imagem-frente {
  transform: rotateY(-180deg);
}

.conteudo-imagem:hover .imagem-atras {
  transform: rotateY(0deg);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.divisor {
  height: 4em;

  border-left: 1px solid #e5e5e5;
}
footer {
  background-color: var(--cor-menu);
  text-align: center;
  width: 100%;
  padding: 10px;
}

#rede-social {
  text-align: center;
}

.links i {
  font-size: 1.7em;
  transition: all 0.6s;
  color: aliceblue;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
}

.links:hover i {
  transform: rotate(-15deg);
}

.links:hover i.linkedin {
  color: #1da1f2;
}
.links:hover i.instagram {
  color: #ad24ec;
}
.links:hover i.github {
  color: #2b3033;
}

@media screen and (max-width: 900px) {
  #conteudo-principal {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
