* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto';
}
:root {
  --cor-texto-fundoescuro: #ffffff;
  --cor-texto-fundoclaro: #000000;
  --cor-hover: linear-gradient(to right, #3dbea1, #267f9f, #1e6a9d);
  --cor-menu: #1b1b1b;
}

/* definições menu */
.typing {
  animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;

  width: 65%;
  white-space: nowrap;
  overflow: hidden;

  border-right: 3px solid;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.menu {
  display: flex;

  background-color: var(--cor-menu);

  width: 100%;
  justify-content: space-around;
  padding: 10px;
}
#texto-menu:hover,
#texto-menu2:hover {
  color: #15ecd0;
  opacity: 2;
  transform: 5s;
}
#texto-menu,
#texto-menu2 {
  color: var(--cor-texto);
  font-size: 3vmin;
  cursor: pointer;
}
.texto-menu,
.texto-menu2 {
  display: flex;
}
#imagem-menu {
  max-width: 20px;
}
/* conteudo main */
.cores1,
.cores2,
.cores3,
.cores4,
.cores5,
.cores6,
.cores7,
.cores8,
.cores9,
.cores10 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 5px;
  padding: auto;
}
#efeito {
  cursor: pointer;

  background: #ffff;
  text-align: center;
  color: #000000;
}
#efeito:hover {
  width: 100%;
  background: var(--cor-hover);
  text-align: center;
  transition: 5s;
  color: #e5e5e5;
  opacity: 2;
  border-radius: 15px 8px 15px 8px;
}
.item1 {
  background-color: #000000;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item2 {
  background-color: #1c1c1c;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item3 {
  background-color: #363636;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item4 {
  background-color: #4f4f4f;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;

  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item5 {
  background-color: #696969;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item6 {
  background-color: #808080;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item7 {
  background-color: #a9a9a9;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item8 {
  background-color: #c0c0c0;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item9 {
  background-color: #d3d3d3;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item11 {
  background-color: #6a5acd;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item12 {
  background-color: #836fff;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item13 {
  background-color: #6959cd;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item14 {
  background-color: #483d8b;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item15 {
  background-color: #191970;
  color: var(--cor-texto-fundoescuro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.item10 {
  background-color: #dcdcdc;
  color: var(--cor-texto-fundoclaro);
  height: 10vh;

  text-align: center;
  width: 80%;
  border-radius: 5px 2px;
  padding: 20px;
  cursor: pointer;
}
.divisor {
  height: 5vh;

  border-left: 1px solid #e5e5e5;
}
footer {
  display: flex;

  background-color: var(--cor-menu);

  width: 100%;
  justify-content: space-around;
  padding: 10px;
}
.links i {
  font-size: 1.7em;
  transition: all 0.6s;
  color: aliceblue;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
}

.links:hover i {
  transform: rotate(-15deg);
}

.links:hover i.linkedin {
  color: #1da1f2;
}
.links:hover i.instagram {
  color: #ad24ec;
}
.links:hover i.github {
  color: #2b3033;
}
